.combo-box .text {
    -fx-fill: #fff;
}

.button:hover {
    -fx-background-color:  #fff;
}

.inputs {
    -fx-background-color: #ffffff00;
    -fx-border-color: #fff;
    -fx-border-radius: 5;
    -fx-text-fill: #fff;
    -fx-pref-width: 20em;
}

.datepicker {
    -fx-fill: #ffffff00;
    -fx-border-color: #fff;
    -fx-border-radius: 5;
    -fx-control-inner-background: #ffffff00;
}
.datepicker .text-field {
    -fx-control-inner-background: #ffffff00;
    -fx-text-fill: #fff;
}